<section id="about" class="about-section pt-150" dir="rtl">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-img wow fadeInUp" data-wow-delay=".5s">
          <img src="./assets/img/about/team.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-content">
          <div class="section-title">
            <span class="wow fadeInUp" data-wow-delay=".2s">מה אנחנו עושים</span>
            <p class="wow fadeInUp" data-wow-delay=".6s">אנו עובדים מול כל חברות הביטוח ומבצעים מכרזים במטרה להגיע למחיר
              האופטימלי.
              מחויבות וליווי מ-א׳ עד ת׳ – משרדנו דוגל בתכנון ביטוחי רחב והתאמה אישית לצרכים תוך תשומת לב לפרטים הקטנים
              ושמח לספק שירות אדיב ומקצועי לאורך כל הדרך – מהייעוץ הראשוני, דרך יישום, וכן בשינויים הנדרשים על פי הצורך.
            </p>
          </div>

          <div class="rating-meta d-flex align-items-center wow fadeInUp" data-wow-delay=".65s">
            <h5>Rating 4.8</h5>
            <div class="rating">
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
            </div>
          </div>
          <div class="counter-up wow fadeInUp" data-wow-delay=".8s">
            <div class="single-counter">
              <h3 id="secondo1" class="countup">1M</h3>
              <h5>Download</h5>
            </div>
            <div class="single-counter position-relative">
              <h3 id="secondo2" class="countup">234k </h3>
              <h5>Happy User</h5>
            </div>
            <div class="single-counter">
              <h3 id="secondo3" class="countup">34k </h3>
              <h5>Reviews</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 
<section>
  <div class="col-lg-12 p-5">
        <div class="section-title">
          <h1 class="wow fadeInUp p-5" data-wow-delay=".4s">הצוות המקצועי</h1>
          <p class="wow fadeInUp" data-wow-delay=".6s">הסוכנות מונה אנשי צוות מקצועיים ומסורים הכוללים סוכני ביטוח
            מורשים, אנשי שירות, משפטנים ומנהלי תביעות אשר חיים ונושמים את עולם הביטוח על שלל היבטיו. כל עובדי המשרד
            בעלי ניסיון רב שנים ובקיאות בתחום,
            ומעניקים ליווי צמוד ומקיף לכלל הלקוחות ובניית תוכנית ביטוחית מותאמת אישית, מתוך הבנה אמיתית של הצרכים,
            הדרישות והיכולות של הלקוח.
          </p>
        </div>
        <div class="section-title">
          <h1 class="wow fadeInUp p-5" data-wow-delay=".4s">רועי ורסנו</h1>
          <p class="wow fadeInUp" data-wow-delay=".6s">
            רועי ורסנו משווק פנסיוני סוכנות הביטוח שלי עוסקת בענפי הביטוח: פנסיוני, בריאות, משכנתאות . השקעות
            אלטרנטיביות ומציאת פתרונות פיננסים אנו מאמינים בשרות אמין ויעיל בהתאם לצרכי הלקוח. סוכנות הביטוח ״ורסנו
            ביטוחים ופיננסים" מספקת שירות מקצועי במגוון רחב של ענפי ביטוח – פיננסי, ביטוחי חיים ובריאות וביטוחים
            נוספים בהתאמה אישית. בין לקוחותינו נמנים אנשים פרטיים, עסקים וחברות מכל קצוות ענפי המשק. אמנת השירות עולם
            הביטוח הוא עולם מורכב, המצריך מיומנות גבוהה והתמחות בענפים שונים. ורסנו ביטוחים ופיננסים מהווה קורת גג
            מקצועית אחת המספקת פיתרון ביטוחי מקיף, תמיכה, ידע וניסיון לשביעות רצון המבוטחים. שירות ושקיפות – הצרכים
            והציפיות שלכם עומדים בראש מעייננו. אנו פועלים במקצועיות מלאה ובשקיפות מול הלקוח בכל שלב בתהליך, זמינים
            עבורכם ומספקים מידע חשוב. מעטפת מקצועית מקצה לקצה – לקוחותינו נהנים ממענה יעיל ורחב היקף הכולל מגוון רחב
            של שירותים וביטוחים הנדרשים עבורם.
          </p>
        </div>
      </div>
</section> -->
