<section id="services" class="service-section pt-150">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8">
        <div class="section-title text-center mb-70">
          <span class="wow fadeInUp" data-wow-delay=".2s">מה אנחנו מציעים</span>
          <h1 class="wow fadeInUp" data-wow-delay=".4s">כל הפטרונות במקום אחד</h1>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-delay=".2s">
          <div class="icon">
            <img src="./assets/img/service/power.png" alt="" />
          </div>
          <div class="content">
            <h3>מקסם את החיסכון</h3>
            <p>רוצים להגיע לפרישה בתנאים האופטימליים ביותר? מומלץ להתחיל את התהליך, בגיל 50 בערך, עוד בשנות העבודה. אמנם
              הפרישה נראית רחוקה אבל בשלב זה, ניתן לשפר את תנאי הפרישה. בעזרת תכנון פנסיוני נכון, תוכלו למקסם את החיסכון
              שלכם במאות שקלים בחודש! איך עושים את זה?</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-delay=".4s">
          <div class="icon">
            <img src="./assets/img/service/piggy-bank.png" alt="" />
          </div>
          <div class="content">
            <h3>חיסכון וביטוח לילדים</h3>
            <p>מזל טוב! המשפחה גדלה ומתרחבת! ילד שמצטרף למשפחה הוא אושר גדול ושמחה גדולה, ובמקביל גם אחריות גדולה. אנו
              בורסנו ביטוחים והסדרים פיננסים , מעמידים לשירותך את מיטב המומחים שלנו, כדי להבטיח שלפחות מההיבט הכלכלי
              ניתן יהיה להפחית את אי-הוודאות, וליצור למשפחה סביבת חיים בטוחה בהווה ובעתיד. הילדים שלנו הם הדבר החשוב
              ביותר בחיים ולכן חשוב מאד להבטיח את בריאותם ועתידם המקצועי והכלכלי, להבטיח שלכל ילד יהיה כיסוי והגנה למקרה
              של מחלה קשה, או לכל מקרה ביטוחי הקשור לטיפול רפואי מורכב, מצד שני להבטיח את עתידם הפיננסי על ידי הפרשת
              כספים לחסכון ביעילות ובהתאם להעדפות ולטעמים האישיים שלך.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-delay=".6s">
          <div class="icon">
            <img src="./assets/img/service/work.png" alt="" />
          </div>
          <div class="content">
            <h3>מקום עבודה חדש?</h3>
            <p>ברכות! חשוב מאוד להתחיל להפקיד לחיסכון הפנסיוני שלך מוקדם ככל האפשר. תוחלת החיים גדלה באופן מהיר ביותר
              בעשרים השנה האחרונות וכנראה תמשיך לגדול. לכן יש לצבור לקראת פרישה תקציב גדול ככל שניתן על מנת שיתאפשר לך
              לכלכל את עצמך ואת משפחתך בכבוד בכל השנים הרבות שלאחר הפרישה מהעבודה.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-delay=".2s">
          <div class="icon">
            <img src="./assets/img/service/manager.png" alt="" />
          </div>
          <div class="content">
            <h3>ניהול תיקי השקעות
            </h3>
            <p>
              מתי כדאי להשקיע בשוק ההון ? אם צברתם סכום כסף ואתם מעוניינים להשקיע אותו על מנת להפיק ממנו את המקסימום,
              ניהול תיקי השקעות הוא הפתרון המומלץ עבורכם. תיק נכסים גדול מצריך התעסקות רבה כדי לנהל אותו בצורה הנכונה
              והטובה ביותר, ומי שאינו עוסק בשוק ההון יתקשה להתפנות ולהשקיע זמן בלימוד ובהכרת השוק ובמעקב אחרי השינויים
              בו, לכן מנהל תיקים הנו פיתרון יעיל עבורו.
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-delay=".6s">
          <div class="icon">
            <img src="./assets/img/service/24-hours-support.png" alt="" />
          </div>
          <div class="content">
            <h3>ורסנו 360 ליווי מקיף
            </h3>
            <p>חסכון ארוך טווח : קרנות פנסיה, ביטוחי מנהלים , קופת גמל , קרנות השתלמות . בריאות: ביטוח בריאות , ביטוח
              מחלות קשות , ביטוח סיעודי . הגנות ביטוחיות: ריסק למקרה פטירה , ביטוח חיים למשכנתא , אבדן כושר עבודה ,
              מטריה על קרן הפנסיה פינסיים: קופות גמל להשקעה , תוכניות חסכון , השקעות אלטרנטיביות אלמנטרי : ביטוח רכב
              ודירה ביטוח חו"ל : ביטוח נסיעות לחו"ל , סטודנטים ועובדים זרים פרישה : הערכות לפרישה ,תיקון 190 ,תכנון מס
              לפרישה.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-delay=".6s">
          <div class="icon">
            <img src="./assets/img/service/customer-service.png" alt="" />
          </div>
          <div class="content">
            <h3>אמנת שירות
            </h3>
            <p>אמנת שירות זו מבטאת את רצוננו ללוות אותך ברגעים החשובים בחיים ונבנתה מתוך תפישה הממקמת את הלקוח במרכז
              העשייה ותוך אמונה כי שירות הניתן תוך אחריות, זמינות, כבוד, מקצוענות ונגישות, הוא אשר יוצר נאמנות וקשר ארוך
              טווח זמינות אנו מתחייבים לזמינות ויעילות במענה, תוך הכרה בחשיבות הזמן שלך, נעשה כל מאמץ לספק לפנייתך מענה
              מקיף, מקצועי ובזמן סביר הגינות אנו מתחייבים להתייחס ללקוחותינו בהגינות ובכבוד ולכבד את פרטיותם בכבוד אנו
              מתחייבים להגן על פרטיות המידע שברשותנו, תוך שימוש בנהלים קפדניים וטכנולוגיה מתקדמת מקצוענות אנו מבטיחים
              להעמיד לרשותך את מיטב אנשינו בתחום, לספק את הפתרון המיטבי לצרכיך והעדפותיך האישיות נגישות אנו מתחייבים
              לקיים תקשורת יעילה וזמינה עם לקוחותינו, לספק מענה ראשוני לכל פנייה, ולמסור תשובות ברורות ומנומקות ככל
              הניתן. בנוסף ,לעדכן את לקוחותינו לגבי אופן קבלת השירות, לרבות דרכי התקשרות, ימי עבודה ושעות קבלה. אנו
              מתחייבים ליזום פניה ללקוח לפחות אחת לשנתיים או בכל עת שיובא לידיעתנו על שינוי במצב הלקוח בקשר למוצר
              פנסיוני המצריך פגישה
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
